{% extends 'layout.html' %}
{% load bootstrap %}

{% block content %}
    <div class="container">
        <h1>To App Django</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|bootstrap }}
            <input type="submit">
        </form>

        {% for content in tasks %}
            <p>{{ content.content }}</p>
            <p>{{ content.created_at }}</p>
            <a href="{% url 'delete' content.id %}">deletar</a>
            <br>
            <br>
        {% endfor %}
    </div>
{% endblock %}


